#background{
    -fx-background-color: RGB(81, 81, 81);
}
.label{
    -fx-text-fill: white;
}

.anchor-pane{
    -fx-text-fill: white;
}

.tab-pane{
    -fx-text-fill: white;
}

.chart{

}

.chart-legend{
    -fx-background-color: RGB(100,100,100);
    -fx-text-fill: white;
}

.button{
    -fx-background-color: RGB(145, 145, 145);

    /*-fx-border-color: black;*/
}